.row{
    line-height: 0;
}

.graph .header{
    display: flex;
}

button{
    padding: 12px 24px;
    border: none;
    background-color: rgb(180, 114, 70);
    margin: 10px;
}

.active{
    background-color: seagreen;
}