*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.element{
  width: 5px;
}

.sort{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sort__header form, .graph__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sort__header input{
  margin: 10px;
}
.sort__header .txt-arr{
  width: 100%;
}
.sort__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.sort__item{
  padding: 20px;
  border: 1px solid;
}

